<html>
  <head>
    <title>heatwave</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/player.css">
    <script type="text/javascript" src="/player.js"></script>
  </head>
  <body>
    <img src='/img/nko.png' style='display:none;'>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/img/logo.png"></a>
      </div>
      <div id="body">
        <div class="whatsthis" style="margin-top: 20px">
          <a href="/id/<%=id%>"><%= id %></a>
        </div>

        <div id="player"></div>

        <div id="control">
            <a
                href="#"
                onclick="
                    window.location.href = window.location.href;
                    return false
                "
            >replay</a>
        </div>
      </div>
      <div id="footer">
        <p>
            <a href="http://catonmat.net">Peteris Krumins</a>,
            <a href="http://substack.net">James Halliday</a>,
            <a href="http://rook2pawn.com">David Wee</a>,
            <a href="http://jesusabdullah.github.com/">Josh Holbrook</a>.
        </p>
        <p>
            <a href="http://nodeknockout.com/teams/replicants"><img src="/img/nko.png" title="VOTE FOR US!"></a>
        </p>
      </div>
    </div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7174476; 
var sc_invisible=1; 
var sc_security="b7d28675"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="tumblr
tracker" href="http://statcounter.com/tumblr/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7174476/0/b7d28675/1/"
alt="tumblr tracker"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

  </body>
</html>

